<!-- Footer -->
<footer>
  <div class="container contract">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul>
          <li>
            <a target="_blank" href="<%- url_for(theme.contract['github']) %>">
              <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a target="_blank" href="<%- url_for(theme.contract['zhihu']) %>">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" ></i>
                  <i class="fa  fa-stack-1x fa-inverse" aria-hidden="true">知</i>
              </span>
            </a>
          </li>
          <li>
            <a target="_blank" href="<%- url_for(theme.contract['email']) %>">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted">
          Theme By <a target="_blank" href="https://github.com/levblanc">Levblanc.</a> Inspired By <a target="_blank" href="https://github.com/klugjo/hexo-theme-clean-blog">Clean Blog.</a>
          <p class="copyright text-muted">
            Powered By <a target="_blank" href="https://hexo.io/">Hexo.</a>
          </p>
      </div>
    </div>
  </div>
</footer>